/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss end ignore */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

@font-face {
  font-family: 'Alfa Slab One';
  src: url(/fonts/AlfaSlabOne-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn {
  @apply bg-gray-600 text-white px-4 text-xs py-2 shadow uppercase font-body;
}

.btn:hover {
  @apply bg-gray-700;
  transform: scale(1.025);
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

p {
  @apply font-body mb-4 leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-bold tracking-widest;
}
